<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow">
    <div>
        <h2><a [routerLink]="['/courses/',name]" style="text-decoration: none;" title="Go back"><i class="bi bi-stack"></i> {{course.name}}</a></h2>
    </div>
</nav>

<div style="background:#ededed; height: 100vh; margin: 0; margin-bottom: -250px;">
    <div class="row no-gutters">
        <div class="col-sm-9">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" [src]="videoUrl | safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="accordion mb-4" id="accordionLessons">
                <div class="card" *ngFor="let topic of course.courseTopics">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                {{topic.topicName}}
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionLessons">
                        <div class="card-body">
                            <div class="list_lessons">
                                <ul>
                                    <li *ngFor="let lesson of topic.lessons">
                                        <a href="javascript:void(0)"
                                        (click)="playVideo(lesson.videoPath)"><i class="bi bi-play-circle"></i> {{lesson.lessonName}}</a><span>{{lesson.duration}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>