<h2>Lessons List</h2>
<hr>
<a [routerLink]="['/admin/topic',topicId,'lesson']" class="btn btn-primary">Create</a>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Duration</th>
      <th>Content Path</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of courseLessons">
      <td>{{item.id}}</td>
      <td>{{item.lessonName}}</td>
      <td>{{item.duration}}</td>
      <td>{{item.contentPath}}</td>
      <td>
        <a [routerLink]="['/admin/topic',topicId,'lesson', item.id]" class="btn btn-success">Edit</a>
        &nbsp; <a (click)="deleteLesson(item.id)" class="btn btn-danger">Delete</a>
      </td>
    </tr>
  </tbody>
</table>